@font-face {
    font-family:circular ;
    src: url(/fonts/CircularStd-Book.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular;
}

/* .navbar{
    background-image: linear-gradient(#306f88,#6bb8e9);
}

.navbar-brand{
    font-size: 22px;
}

.nav-item{
    font-size: 22px ;
}

.btn{
    background-image: linear-gradient(#306f88,#6bb8e9) ;
    border:none;
    box-shadow: none;
    font-size: 22px;
}

.nav-tabs .nav-link.active{
    background-image: linear-gradient(#306f88,#6bb8e9) ;
    color: white !important;
} */

#top-right{
    /* margin-left: 100px; */
    display: flex;
    justify-content: flex-end;
    gap:20px;
    margin: 30px 30px 30px -47px;
    align-items: center;
    position: fixed;
}

#top-right a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

#body{
    min-height:100vh;
    width:100%;
    background-image: url(/Images/admin-area.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.splash-container{
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin:auto;
}

.card{
    border-radius: 0;

}
.card-header{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10vh;
    font-style: normal;
    font-weight: normal;
}

#login-here{
    text-decoration: none;
}

#register-here{
    text-decoration: none;
}

.splash-description{
    color:#71748d !important;
}



#section{
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    font-size:14px;
    text-align: center;

}

.span1{
    margin-top: 4vw;
    margin-bottom: -1vw;
}

#login{
    display: none;
}

@media (max-width:800px) {
    #top-right{
        /* margin-left: 100px; */
        display: none;
        justify-content: flex-end;
        gap:20px;
        margin: 30px 30px 30px -47px;
        align-items: center;
        position: fixed;
    }
    
    #top-right a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }
}
