@font-face {
    font-family:circular ;
    src: url(/fonts/CircularStd-Book.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: circular;
}

/*  */#body{
    min-height: 100vh;
    background-color: #efeff6;
    padding-top: 25px !important;
}

.navbar{
    background-color: white;
    /* border-bottom: 1px solid rgb(185, 184, 184); */
}

.navbar-brand{
    font-size: 22px;
}

.nav-item{
    font-size: 22px ;
}

.action-btn{
    background-color:#e0a800 !important  ;
    border:none;
    box-shadow: none;
    font-size: 22px;
    color:black !important;
}

.btn-serlog{
    background-color:#007bff  !important  ;
    border:none;
    box-shadow: none;
    font-size: 22px;
    }

.btn-sub{
    background-color:#007bff !important ; 

}
.tab-btn{
    color:rgb(144, 177, 240) !important;
}

.nav-tabs a{
    font-size: 22px !important;
}
.nav-tabs .nav-link.active{
    /* background-image: linear-gradient(#306f88,#6bb8e9) ; */
    color: white !important;
    background-color:#007bff !important ; 
}

/* .highlight{
} */

@media(max-width:767px) {
    #search{
        margin-left:20vw !important;
        margin-bottom:10vw;
        z-index: 100;
    }

    #full-scr{
        height: 40vh;
        width: 100%;
        background-image: linear-gradient(#306f88,#6bb8e9) ;
        position: fixed;
        top: -100%;
        z-index: 99;
        border-bottom-left-radius:30px ;
        border-bottom-right-radius:30px ;
        transition: all ease 0.3s;
    }

    #logo{
        display: none;
    }

}

@media (max-width:670px) {
    #bars{
        display:none;
    }
}



